<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh; background-image: url(assets/images/logo.png);">

    <div style='background-color: rgb(0, 0, 0);background-image: url(assets/images/logo.png); height: 690px; width: 1536px; position: absolute;'>

    </div>
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 480px; margin-top:80px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Iniciar Sesión</h4>
            <form>
                <div class="form-group">
                    <input name="" class="form-control" placeholder="Usuario" type="text">
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <input name="" class="form-control" placeholder="Contraseña" type="password">
                </div>
                <!-- form-group// -->

                <div class="form-group">
                    <a href="#" class="float-right">Olvido la contraseña?</a>
                </div>
                <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Iniciar Sesión  </button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
        <!-- card-body.// -->
        <p class="text-center mt-4" style="color: black;"><b>No estás registrado? </b><a href="registro.component.html"><b>Registrate aquí</b></a></p>
        <br><br>
    </div>
    <!-- card .// -->

    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->