<!-- ========================= SECTION CONTENT ========================= -->
<section data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
     <div id="navigation" class="navbar navbar-default navbar-fixed-top">
       <div class="container">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand smothscroll" href="#home"><b>Sección de Noticias</b></a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#home" class="smothscroll">Inicio</a></li>
             <li><a href="#desc" class="smothscroll">Publicaciones</a></li>
           </ul>
         </div>
         <!--/.nav-collapse -->
       </div>
     </div>
   
     <section id="home" name="home">
       <div id="headerwrap">
         <div class="container">
           <div class="row centered">
             <div class="col-lg-12">
               <h1><b>Bienvenido</b></h1>
               <h3>Crear publicación para informar a sus compañeros</h3>
               <br>
             </div>
             <br>
             <br>
             <div class="col-lg-8" align= "left">
                <h2>Pensum de Ingeniería en Ciencias y Sistemas</h2>
               <img class="img-responsive" src="assets/images/ingenieria_sistemas.jpg" alt="" align="center">
             </div>
           </div>
         </div>
         <!--/ .container -->
       </div>
       <!--/ #headerwrap -->
     </section>
   
   
     <section id="desc" name="desc">
       <!-- FEATURES WRAP -->
       <div id="features">
         <div class="container">
           <div class="row">
             <h1 class="centered">Publicaciones</h1>
             <br>
             <br>
             <br>
             <div class="col-lg-6">
               <h3>Publicaciones Recientes</h3>
               <br>
               <!-- ACCORDION -->
               <div class="accordion ac" id="accordion2">
                 <div class="accordion-group">
                   <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                     Curso: Introducción a la Programación 1  Catedrático: XXXXXX
                                     </a>
                   </div>
                   <!-- /accordion-heading -->
                   <div id="collapseOne" class="accordion-body collapse in">
                     <div class="accordion-inner">
                       <p>El ingeniero imparte de forma ordena y entendible sus cursos, además de que siempre comparte las presentaciones, por lo cual lo recomiendo.</p>
                     </div>
                     <!-- /accordion-inner -->
                   </div>
                   <!-- /collapse -->
                 </div>
                 <!-- /accordion-group -->
                 <br>
   
                 <div class="accordion-group">
                   <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Curso: Compiladores 2   Catedrático: XXXXXX</a>
                   </div>
                   <div id="collapseTwo" class="accordion-body collapse">
                     <div class="accordion-inner">
                       <p>El ingeniero tiene una forma muy buena de explicar pero deja demasiada tarea por lo cual es dificil ponerse al día en sus clases, consume demasiado tu tiempo.</p>
                     </div>
                     <!-- /accordion-inner -->
                   </div>
                   <!-- /collapse -->
                 </div>
                 <!-- /accordion-group -->
                 <br>
   
                 <div class="accordion-group">
                   <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Curso: Sistemas organizacionales y gerenciales 1   Catedrático: XXXXXX</a>
                   </div>
                   <div id="collapseThree" class="accordion-body collapse">
                     <div class="accordion-inner">
                       <p>Se deja poca tarea y la que se deja ayuda a comprender de buena forma los temas impartidos en clase</p>
                     </div>
                     <!-- /accordion-inner -->
                   </div>
                   <!-- /collapse -->
                 </div>
                 <!-- /accordion-group -->
                 <br>
   
                 <div class="accordion-group">
                   <div class="accordion-heading">
                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Curso: Lógica de Sistemas   Catedrático: XXXXXX</a>
                   </div>
                   <div id="collapseFour" class="accordion-body collapse">
                     <div class="accordion-inner">
                       <p>Las clases duran lo justo ya que la ingeniera respeta los periodos, por lo cual considero que es una buena opción para recibir este curso. </p>
                     </div>
                     <!-- /accordion-inner -->
                   </div>
                   <!-- /collapse -->
                 </div>
                 <!-- /accordion-group -->
                 <br>
               </div>
               <!-- Accordion -->
             </div>
           </div>
         </div>
         <!--/ .container -->
       </div>
       <!--/ #features -->
     </section>
   
   
     <section id="showcase" name="showcase">
       <div id="showcase">
         <div class="container">
           <div class="row">
             <h1 class="centered">*Información relevante* La Universidad de San Carlos de Guatemala informa que este fin de semana estarán abiertos los vacunatorios siguientes:</h1>
             <br>
             <div class="col-lg-8 col-lg-offset-2">
               <div id="carousel-example-generic" class="carousel slide">
                 <!-- Indicators -->
                 <ol class="carousel-indicators">
                   <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                    SÁBADO 25 DE SEPTIEMBRE
                    - puesto vehicular 2a dosis de Sputnik (61 días cumplidos) 
                    - Polideportivo 2a dosis de Moderna, 1a y 2a dosis de Astrazeneca </li>
                   <li data-target="#carousel-example-generic" data-slide-to="1">DOMINGO 25 DE SEPTIEMBRE
                    - Vehicular 2a dosis de Sputnik (61 días cumplidos) 
                    - Polideportivo cerrado
                    -CUM zona 11 cerrado todo el fin de semana.
                    </li>
                 </ol>
   
                 <!-- Wrapper for slides -->
                 <div class="carousel-inner">
                   <div class="item active">
                     <img src="assets/images/congreso.jpeg" alt="">
                   </div>
                   <div class="item">
                     <img src="assets/images/postgrados.png" alt="">
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <br>
           <br>
           <br>
         </div>
         <!-- /container -->
       </div>
     </section>
   
     <div id="copyrights">
       <div class="container">
         <p>
           &copy; Copyrights <strong>Pratt</strong>. All Rights Reserved 
         </p>
         <div class="credits">
           <!--
             You are NOT allowed to delete the credit link to TemplateMag with free version.
             You can delete the credit link only if you bought the pro version.
             Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/pratt-app-landing-page-template/
             Licensing information: https://templatemag.com/license/
           -->
           Created with Pratt template by <a href="https://templatemag.com/">TemplateMag</a>
         </div>
       </div>
     </div>
   </section>
   <!-- ========================= SECTION CONTENT END// ========================= -->